/* jumbotron */
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
    padding-top: 5rem;
}

/* Форма авторизации */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Собственные стили*/
.cst-btn-link {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
.cst-btn-link:focus {
    outline:none !important;
}
.cst-margin-0 {
    margin: 0;
}
.cst-link-none:hover {
    text-decoration: none;
}
.cst-margin-20 {
    margin-top: -20px;
    margin-bottom: 20px;
}
div i.fa {
    cursor: pointer;
}
.cst-btn-icon {
    background: none;
    border: none;
    cursor: pointer;
}
.cst-btn-icon:hover {
    outline:none !important;
}
.cst-link-icon {
    color: black;
}
.cst-link-icon:hover {
    color: black;
}